table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 100%;
}

tbody,
tfoot,
thead {
    margin: 0;
    padding: 0;
}

caption,
tr,
th,
td {
    margin: 0;
    padding: 2px 4px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.input,
select,
textarea {
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #6c6c6c #cccccc #cccccc #6c6c6c;
    font-size: 1em;
    text-shadow: 1px 1px #e0e0e0;
}

.input.warning-required,
select.warning-required,
textarea.warning-required {
    border-color: #ac0000 #c78688 #c78688 #ac0000;
    background: #fbefef;
}

.input:focus,
select:focus,
.textarea:focus {
    text-shadow: none;
}



.form legend {
    display: none;
}

.form label span {
    padding-left: 10px;
    color: #949494;
    font-weight: normal;
    text-shadow: none;
}

.hide {
    display: none;
}

a {
    color: $green;
    text-decoration: underline;
}

a:hover {
    color: #666;
    text-decoration: underline;
}

.clear {
    clear: both;
    height: 0px;
    font-size: 0px;
    line-height: 0px;
}

#skiplinks {
    position: absolute;
    top: 0px;
    left: 0px;
}

#skiplinks a {
    position: absolute;
    top: -500px;
    left: 0px;
    z-index: 10;
    min-width: 200px;
    padding: 10px;
    color: #fff;
}

#skiplinks a:focus {
    top: 0;
    background: #000;
    color: #fff;
}








/* IE 6 hack */

/* HEADER WITH TOP MENU BELOW LOGO */
#head3 {
    background-color: $green;
}

/* BODY STYLES - LEFT AND RIGHT COLUMN */



/* LEFT COLUMN STYLES */


.order #column {
    display: none;
}













.tS {
    float: right;
    margin: 17px 0 3px;
}

.tS div {
    display: inline;
}

.tS a {
    margin: 0 4px;
    text-decoration: none;
    background: inherit;
    color: #2e6a97;
    font-weight: bold;
    font-family: Arial;
}

.tS a:hover {
    color: $green;
    background: inherit;
}

.tS0 {
    font-size: 0.917em;
}

.tS1 {
    font-size: 1.083em;
}

.tS2 {
    font-size: 1.333em;
}

.pages {
    padding: 8px 0;
    text-align: right;
    font-size: 1.083em;
}

.pages ul,
.pages li {
    display: inline;
}

.pages li {
    padding: 0 2px;
}

.pages a,
.pages strong {
    padding: 0 1px;
    font-size: 1.083em;
}

/* IMAGES STYLES */
#content .imagesList {
    list-style: none;
}

#content .imagesList li {
    margin: 0 0 15px 0;
    text-align: center;
}

#content .imagesList li div {
    text-align: center;
}




#imagesList1 {
    float: left;
    margin: 9px 20px 0 0;
}

#imagesList2 {
    clear: right;
    float: right;
    margin: 8px 0 0 15px;
}

#content .imagePreview div {
    margin: 5px 0 10px;
    text-align: center;
}

#imagesListPreview {
    float: left;
    margin: 9px 20px 0 0;
}

* html #imagesListPreview {
    margin-top: -5px;
}

#content .imagesList#imagesListPreview li {
    margin-bottom: 3px;
}

#content .imagesList#imagesListPreview li img {
    border-width: 2px;
}

#content .imagesList#imagesListPreview li img:hover {
    border-width: 2px;
}

/* FILES LIST STYLES */
#filesList {
    width: 100%;
    float: left;
    margin: 15px 0 5px;
    list-style: none;
    vertical-align: middle;
    border-left: 2px solid #e0e0e0;
}

#filesList li {
    width: 100%;
    float: left;
    clear: left;
    margin: 5px 0 5px 10px;
    padding-left: 10px;
}

#filesList li a {
    color: $green;
    background: inherit;
}

#filesList li a:hover {
    color: #666;
    background: inherit;
}

#filesList img {
    margin: 0 8px 0 0;
    vertical-align: middle;
}

#filesList em {
    padding-left: 2px;
}

/* QUICK.BOX */
#quick-box {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 200;
}

#quick-box .background {
    height: 100%;
}

#quick-box .quick-box-container {
    position: absolute;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 0 15px 1px #000;
}

#quick-box .image-wrapper {
    position: relative;
    line-height: 0;
}

#quick-box .image-wrapper img {
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

#quick-box .navigation {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 5px 0;
    text-align: center;
    font-size: 0.875em;
    font-weight: bold;
    color: #ddd;
    line-height: normal;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
}

#quick-box .description {
    margin: 0;
    padding: 5px 0;
    text-align: center;
    font-size: 0.875em;
    color: #ddd;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: 66px;
    overflow: hidden;
}

#quick-box .prev,
#quick-box .next {
    position: absolute;
    display: block;
    width: 50%;
    top: 15%;
    height: 70%;
    margin: 0px;
    color: #fff;
    font-family: Verdana;
    z-index: 100;
    opacity: 0.15;
    text-decoration: none;
}

#quick-box .prev span,
#quick-box .next span {
    position: absolute;
    top: 47%;
    left: 0;
    padding: 10px;
    border: 1px solid #fff;
    background: #000;
}

#quick-box .next span {
    left: auto;
    right: 0;
    border-right: none;
}

#quick-box .prev span {
    border-left: none;
}

#quick-box .next:hover,
#quick-box .prev:hover {
    opacity: 0.8;
}

#quick-box .prev {
    left: 0;
}

#quick-box .next {
    right: 0;
}

#quick-box .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 4px 2px;
    opacity: 0.5;
    background: #000;
    color: #fff;
    font-weight: bold;
    font-family: "Trebuchet MS";
    text-decoration: none;
    border: 1px solid #fff;
    border-top: none;
    border-right: none;
    border-top-right-radius: 5px;
    z-index: 100;
}

#quick-box .close:hover {
    opacity: 0.8;
}

#quick-box .close,
#quick-box .prev,
#quick-box .next {
    line-height: normal;
}

#quick-box .loading {
    display: block;
    padding: 40px 35px;
    color: white;
    line-height: 1em;
}

/* SUB PAGES LIST STYLES */
#content .subpagesList {
    float: left;
    width: 100%;
    margin: 7px 0;
    list-style: none;
}

#content .subpagesList li {
    clear: left;
    float: left;
    width: 95%;
    margin: 10px 0;
    padding: 18px 2.5%;
    background: #fff url('img/body.png');
    border-bottom: 1px solid #dadada;
    -webkit-box-shadow: 0 10px 5px -5px rgba(0, 0, 0, .15);
    box-shadow: 0 10px 5px -5px rgba(0, 0, 0, .15);
}

* html #content .subpagesList li {
    width: 100%;
}

/* IE 6 hack */
#content .subpagesList li .photo {
    float: left;
    margin: 0 20px 5px 0;
}

#content .subpagesList li h2 {
    padding-bottom: 10px;
    text-shadow: 2px 2px 3px #ddd;
}

#content .subpagesList li h2,
#content .subpagesList li h2 a {
    color: $green;
    font-size: 1.25em;
    font-weight: normal;
    background: none;
}

#content .subpagesList li h2 a:hover {
    color: #666;
    background: none;
}

#content .subpagesList li div.description {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.4em;
}

#content .subpagesList li ul,
#content .subpagesList li ol {
    float: left;
    width: 100%;
    margin: 5px 0 0 30px;
    padding: 0;
}

#content .subpagesList li li {
    padding: 0;
    border-bottom: 0;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#content .subpagesList li ul {
    list-style: disc;
}

#content .subpagesList li ol {
    list-style: decimal;
}

#content .subpagesList li p {
    padding-bottom: 10px;
}

/* OPTIONS LINK */
#options {
    clear: both;
    float: right;
    width: 100%;
    margin: 10px 10px;
    color: #666;
    font-size: 1em;
    text-align: right;
}

*:first-child+html #options {
    width: 94%;
}

/* IE 7 hack */
* html #options {
    width: 94%;
}

/* IE 6 hack */
#options a {
    padding: 0 10px 0;
    color: #2e6a97;
    background: inherit;
}

#options a:hover {
    color: $green;
    background: inherit;
}

#options .back,
#options .print {
    float: right;
}

#options .print a {
    border-left: 1px solid #e0e0e0;
}

.message {
    padding: 50px 0;
    text-align: center;
}

.message h2 {
    background: inherit;
    color: $green;
    font-weight: normal;
    font-size: 2.4em;
    line-height: 1.7em;
}

.message h2 a {
    color: #2e6a97;
    background: inherit;
}

.message h2 a:hover {
    color: #666;
    background: inherit;
}



/* BASKET AND ORDER */
#orderedProducts table {
    width: 100%;
    margin: 0;
    border-bottom: 2px solid #e0e0e0;
    font-size: 1em;
    color: $green;
    text-shadow: 1px 1px #e0e0e0;
}

#orderedProducts td,
#orderedProducts th {
    padding: 6px 7px;
}

#orderedProducts thead .price,
#orderedProducts thead .quantity,
#orderedProducts thead .summary {
    text-align: right;
}

#orderedProducts thead td {
    padding-bottom: 11px;
    background: #2e6896;
    color: #fff;
    text-shadow: 1px 1px #17344b;
}

#orderedProducts thead em {
    padding: 0 4px 0 0;
    font-style: normal;
}

#orderedProducts tbody th,
#orderedProducts tbody td {
    border-top: 2px solid #fff;
    background: #f0f6fa url('img/body.png');
    border-bottom: 1px solid #e0e0e0;
}

#orderedProducts tbody th {
    text-align: left;
}

#orderedProducts tbody th a {
    background: inherit;
}

#orderedProducts tbody .price,
#orderedProducts tbody .summary {
    font-weight: bold;
    text-align: right;
}

#orderedProducts tbody .quantity,
#orderedProducts tbody .quantity input {
    text-align: right;
}

#orderedProducts tbody .quantity label {
    display: none;
}

#orderedProducts tbody a:hover {
    background: inherit;
    color: #666;
}

#orderedProducts tfoot {
    background: url('img/body.png');
    text-align: right;
}

#orderedProducts tfoot .summaryProducts,
#orderedProducts tfoot .summaryProducts th,
#orderedProducts tfoot .summaryShippingPayment,
#orderedProducts tfoot .summaryOrder {
    text-align: right;
}

#orderedProducts tfoot .nextStep .submit {
    background: $green;
    text-shadow: 1px 1px #630d2f;
}

#orderedProducts tfoot .nextStep .submit:hover {
    background: #154a72;
    text-shadow: 1px 1px #17344b;
}

#basket #orderedProducts table {
    margin: 10px 0 0;
}

#basket .info {
    padding: 10px 0;
    text-align: left;
}

#basket #recount {
    background: #fff;
    border-bottom: 2px solid #e0e0e0;
}

#basket #recount td {
    border-bottom: 1px solid #e0e0e0;
    text-align: right;
}

#basket #recount .submit {
    padding: 2px 3px;
}

#basket #recount .submit:hover,
#basket .buttons #continue .submit:hover {
    background: $green;
}

#basket .summaryProducts {
    font-size: 1.36em;
    font-weight: bold;
}

#basket .summaryProducts #summary {
    font-weight: bold;
}

#basket .del {
    padding: 0 5px 0 10px;
}

#basket .del a {
    background: inherit;
    color: #666;
}

#basket .del a:hover {
    background: inherit;
    color: $green;
}

#basket .buttons #continue {
    text-align: left;
}

#basket .buttons #continue .submit {
    margin-right: 5px;
    padding: 3px 5px;
}

#basket #pageDescription {
    margin-top: 10px;
}

#basket legend {
    display: none;
}

#basket #save {
    padding: 7px;
}

#basket #save .submit {
    margin-right: 5px;
    padding: 4px 9px;
    background: #f2f2f2;
    color: #666;
    border: 2px solid #e0e0e0;
    font-weight: normal;
    text-shadow: none;
}

#basket #save .submit:hover {
    background: #154a72;
    color: #fff;
}

#order legend {
    display: block;
    padding: 20px 0 10px;
    border: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: #2e6a97;
    text-shadow: 1px 1px 3px #e0e0e0;
}

#order #personalData {
    padding: 12px 3%;
    border-top: 2px solid #e0e0e0;
    border-bottom: 2px solid #e0e0e0;
    background: url('img/body.png');
    overflow: hidden;
}

#order #personalData #setBasic,
#order #personalData #setExtend {
    float: left;
    width: 50%;
}

#order #personalData label {
    display: block;
    padding: 2px 0;
    font-weight: bold;
    color: #2e6a97;
    text-shadow: 1px 1px #e0e0e0;
}

#order #personalData .input,
#order #personalData #oComment {
    width: 90%;
    margin: 0 0 5px;
}

#order #personalData #oComment {
    height: 125px;
}

#shippingAndPayments div {
    padding: 11px 3%;
    border-top: 2px solid #e0e0e0;
    border-bottom: 2px solid #e0e0e0;
    background: url('img/body.png');
}

#order tfoot td,
#orderPrint tfoot td {
    color: $green;
}

#order .summaryProducts,
#order .summaryShippingPayment,
#orderPrint .summaryShippingPayment {
    font-size: 1.182em;
}

#order .summaryProducts th,
#order .summaryShippingPayment th,
#orderPrint .summaryShippingPayment th {
    font-weight: normal;
    text-align: right;
}

#order .summaryOrder,
#orderPrint .summaryOrder {
    color: #666;
    font-size: 1.36em;
    font-weight: bold;
}

#order .summaryOrder th,
#orderPrint .summaryOrder th {
    text-align: right;
}

#order .summaryOrder th,
#order .summaryOrder td {
    border-top: 1px solid #e0e0e0;
}

#order #rulesAccept th {
    color: #666;
    font-weight: bold;
    text-align: right;
}

#order #rulesAccept th,
#order #nextStep th {
    border: 0;
    text-align: right;
}

*:first-child+html .nextStep .submit,
*:first-child+html #basket #continue .submit {
    padding: 2px 0px;
}

/* IE 7 hack */

/* ORDER SUMMARY/PRINT PAGE */
#orderPrint #pageDescription {
    padding: 10px 8px 20px;
    text-align: center;
    background: inherit;
    color: $green;
    font-weight: normal;
    font-size: 1.5em;
}

#orderPrint #pageDescription p {
    padding: 5px 0;
}

#orderPrint .legend {
    clear: both;
    padding: 20px 0 10px;
    background: inherit;
    color: #2e6a97;
    font-size: 1.2em;
    font-weight: bold;
}

#orderPrint dl {
    float: left;
    display: block;
    width: 100%;
    margin: 0;
    padding: 5px 0;
    border-top: 2px solid #e0e0e0;
    border-bottom: 2px solid #e0e0e0;
    background: #fff url('img/body.png');
}

#orderPrint dt,
#orderPrint dd {
    float: left;
    display: inline-block;
    width: 40%;
    margin: 0;
    padding: 3px 0;
}

#orderPrint dt {
    clear: left;
    text-align: right;
}

#orderPrint dd {
    padding-left: 3%;
    font-weight: bold;
}

#orderPrint dd.orderComment,
#orderPrint dd.orderIP {
    font-weight: normal;
}

