#product {
    display: block;
    text-align: left;
}


/* IE 6 hack */
#product h1 {
    padding: 5px 0 5px;
    background: inherit;
    @extend .color-main;
    font-size: 2.25em;
    font-weight: normal;
}

#product div.breadcrumb {
    margin: 0 0 10px;
    padding: 2px 0 7px;
    border-bottom: 1px solid #bebebe;
    font-weight: normal;
    font-size: 0.917em;
}

#product div.breadcrumb,
#product div.breadcrumb a {
    background: inherit;
    color: #666;
}

#product div.breadcrumb a:hover {
    background-color: inherit;
    @extend .color-main;
}

#product div.breadcrumb em {
    padding: 0 5px;
}



#product div.content {
    padding: 10px 0 10px;
}

#product div.content ul,
#product div.content ol {
    margin: 5px 0 0 30px;
    padding: 0;
}

#product div.content li {
    margin: 8px 0;
    padding: 0;
    border-left: 0;
}

#product div.content p {
    padding-bottom: 10px;
}

#product #box {
    #noPrice {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $grey;
        color: white;
        padding: 1em;
        font-weight: bold;
        cursor: not-allowed;
    }

    #price {
        margin-bottom: 1em;

        em {
            padding-right: 2px;
            font-style: normal;
        }

        strong {
            @extend .color-main;
            padding-right: 2px;
            font-size: 1.1rem;
        }
    }

    #available {
        margin-bottom: 1em;
    }

    #addBasket {
        fieldset {
            border: none;
        }

        input.submit {
            border: none;
            appearance: none;
            display: flex;
            justify-content: center;
            align-items: center;
            @extend .background-main;
            color: white;
            padding: 1rem;
            font-weight: bold;
            text-decoration: none;
            @include transitions(all, 0.3s, ease, 0s);
            font-size: 1rem;
            width: 100%;

            &:hover {
                transform: scale(1.01, 1.01);
                opacity: 0.9;
            }

        }
    }
}



.product-main-info {
    display: flex;
    justify-content: space-between;

    @include respondTo(screensmmax) {
        flex-direction: column;
    }

    .imagePreview {
        width: 320px;
        margin-right: 10px;

        #defaultDescription {
            font-style: italic;
            font-size: 0.7rem;
            text-align: center;
            padding-bottom: 3px;
        }

        @include respondTo(screensmmax) {
            width: 100%;
            margin-right: 0;
        }

        a {
            display: inline-block;
            width: 100%;

            img {
                min-width: 100%;
                width: 100%
            }
        }

    }




    #box {
        align-self: flex-start;
        flex: 1;
        box-shadow: 0 6px 15px 0 rgba(0, 0, 0, .1);
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include respondTo(screensmmax) {
            width: 100%;
        }
    }
}

.imagesList {
    width: 100px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-start;
    list-style: none;

    &#imagesList2 {
        width: 160px;
        float: right;
        margin: 8px 0 0 15px;
    }

    div {
        font-style: italic;
        font-size: 0.7rem;
        text-align: center;
        padding-bottom: 3px;
    }



    @include respondTo(screensmmax) {
        width: 100%;

        
        margin-right: 0;
        flex-direction: row;
        &#imagesList2 {
            flex-direction: column;
        }
    }



    li {
        margin-bottom: 3px;

        @include respondTo(screensmmax) {
            margin-left: 3px;
        }

        a {
            display: block;

            img {
                min-width: 100%;
                width: 100%
            }
        }
    }
}